body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b0e9ff;
  color: #000000;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 10px;
}

header p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}

section h2 {
  margin-top: 0;
  font-size: 24px;
}

section ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  padding-bottom: 15px;
}

section li {
  font-size: 18px;
  margin-bottom: 10px;
}

section li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.container {
  display: flex;
}

.side {
  width: 50%;
  padding: 20px;
}
